<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net4" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net4" />
  <package id="Openfin.WinForm" version="5.44.8.6" targetFramework="net4" />
  <package id="OpenFin.WPF" version="5.44.8.6" targetFramework="net4" />
  <package id="OpenfinDesktop" version="5.44.8.6" targetFramework="net4" />
  <package id="WebSocket4Net" version="0.12" targetFramework="net4" />
</packages>