$app-height: 600px
$app-width: 880px
$transition-time: 1s
$top-bar-color: rgb(60, 115, 172)
$footer-bar-color: #2196f3
$actions-color: #ffeb3b
$bid-color: #4caf50
$ask-color: #f44336
$blue-50: #e3f2fd
$table-header-bg: #2d2d2d
$close-icon-size: 1.1rem
$child-top-bar-flex: .37
$top-bar-flex: .08

// z-index orders
$front: 10
$slider: 7
$middle: 5
$back: 1

body
  background-color: #030a28
  color: #4c89bc
  font-family: Verdana
  height: 100%
  margin: 0
  overflow: hidden

.app
  display: flex
  flex-direction: column
  height: $app-height
  left: 0
  padding: 0
  position: fixed
  top: 0
  width: $app-width

.menu-contain
  display: flex
  flex: .7
  flex-direction: column

.menu
  background-color: #242424
  color: #fff
  cursor: pointer
  flex: .1
  font-size: larger
  font-weight: bold
  text-align: center
  z-index: $front

.menu-user
  left: 0
  margin-left: 9px
  position: absolute

.menu-page
  background-color: #2d2d2d
  display: flex
  flex-flow: row wrap
  height: $app-height
  position: absolute
  top: -$app-height
  transition-duration: $transition-time
  width: $app-width
  z-index: $slider

  .showing
    transform:  translateY($app-height + 45)
    transition-duration: $transition-time

.chart-iq
  overflow: hidden
  padding: 5px
  z-index: $middle


.hyper-grid
  border-top: 1px #fff solid
  flex: 7
  overflow: hidden
  padding: 5px
  z-index: $middle


.login
  // display: flex
  background-color: #242424
  display: none
  height: $app-height
  left: 0
  position: absolute
  top: 0
  transition-duration: $transition-time
  width: $app-width
  z-index: 11

.logged-in
  transform: translateY(-$app-height)

#chartContainer
  height: 260px
  width: $app-width

.false-menu
  flex: 1 100%

.watchlist
  background-color: #242424
  flex: 1 50%

.watchlist-details
  background-color: #242424
  flex: 1 50%

.login-form
  margin: auto

.top-bar
  -webkit-app-region: drag
  align-items: center
  background-color: rgba(255, 255, 255, .2)
  color: $actions-color
  display: flex
  // background: url('http://www.jackson-pollock.org/images/paintings/convergence.jpg')
  height: 12px
  justify-content: right
  padding: 12px
  z-index: $front

  i
    -webkit-app-region: no-drag
    color: #808080
    cursor: pointer
    flex: 1
    font-size: $close-icon-size
    text-align: right

    &:hover
      color: #fff

  .title
    color: #fff
    flex: 15
    font-size: 1rem

.grid-contain
  overflow: hidden
  padding: 0

#stock-example
  display: block
  height: 573px
  overflow: hidden
  width: $app-width

.button
  background-color: #2d2d2d
  border: 1px solid #333434
  color: #fff
  cursor: pointer
  font-size: 12px
  font-weight: bold
  margin-right: 0
  padding: 5px
  transition: all $transition-time ease-in

  &:hover
    background-color: #8d8d8d
    border: 1px solid #333434

.top-button
  -webkit-app-region: no-drag
  border-radius: 20px
  line-height: 10px
  margin: 0
  padding: 1px 4px 3px

.close-button
  left: 935px
  position: absolute
  top: 3px

.equities-list
  margin: 0 0 0 10px
  padding: 0

  .team
    span
      margin-left: 5px

  li
    background-color: #2d2d2d
    cursor: pointer
    font-size: 20px
    font-weight: bold
    list-style: none
    margin: 2px 10px 2px 0
    padding: 8px 20px

    &:hover
      color: #fff

  .selected
    color: #adcfed
    left: 930px

.left-content
  border-bottom: #2d2d2d 2px solid
  color: #fff
  margin-left: 10px

#status-indicator
  background-color: #2c2c2c
  border-radius: 20px
  display: inline-block
  height: 10px
  width: 10px

  .online
    background-color: #f00

.story
  color: #fff
  height: 41px
  overflow: hidden
  text-overflow: ellipsis
  width: 95%

  &:hover
    color: #adcfed
    cursor: pointer

.item-logo
  height: 20px
  width: 20px

.text-box
  background-color: #454646
  border: 1px solid transparent
  color: #c6c8c8
  font-size: 12px
  margin-bottom: 10px
  padding: 5px

.logo
  margin-left: 15px

.real-chart
  position: absolute !important
  top: 50px
  visibility: visible

.hide-chart
  visibility: hidden

.is-chart
  display: block
  font-family: Arial, Helvetica, sans-serif
  font-size: 12px
  height: 260px
  position: relative
  width: 960px

// child windows
.child
  display: flex
  flex-direction: column
  height: 100%

  .top-bar
    -webkit-app-region: drag
    align-items: center
    background-color: $top-bar-color
    display: flex
    flex: $child-top-bar-flex
    padding: 8px

    i
      -webkit-app-region: no-drag
      color: #fff
      flex: 1
      font-size: $close-icon-size
      text-align: right

    .unlocked
      visibility: hidden

    .title
      color: #fff
      flex: 8
      font-size: 1rem

  .contents
    -webkit-app-region: drag
    display: flex
    flex: 8
    flex-direction: column

    .bid-ask
      color: #000
      display: flex
      flex: 2

      .last
        align-items: center
        color: $top-bar-color
        display: flex
        flex: 1
        flex-direction: column

      .ticker
        flex: 1
        font-size: 1.5rem

      .transaction
        flex: 3
        font-size: 3rem

      .bid,
      .ask
        align-items: center
        display: flex
        flex: 1
        flex-direction: column
        font-size: 2rem
        justify-content: center
        padding: 8px

        .label
          flex: 1

        input
          flex: 1
          font-size: 12px
          padding: 1px
          text-align: right
          width: 100%

      .order-book
        display: flex
        flex: 1

    .quantity
      flex: .5

    .orders
      display: flex
      flex: 2

      table
        background-color: #000
        color: #fff
        flex: 1
        margin-left: 8px
        margin-right: 8px
        text-align: center
        width: 159px

        th
          background-color: $table-header-bg

        td,
        th
          font-size: .7rem
          padding: 4px

      ul
        flex: 1
        list-style: none
        margin: 0
        padding: 10px 8px 0

        li
          border-bottom: 1px solid #c0c0c0
          margin: 4px
          padding: 4px

// .row-display
//   table-layout: fixed
//
//   caption
//     text-align: left
//
//   th,
//   td
//     border-bottom: 1px solid #c0c0c0
//     padding: 5px 8px
//
//   th
//     text-align: left
//
//   td
//     text-align: right
//
//   .buy
//     color: #4caf50
//
//   .sell
//     color: #f44336


// .footer
//   background-color: $footer-bar-color
//   display: flex
//   flex: 2
//
// 	.spacer
// 		background-color: black
// 		opacity: .12
// 		flex: .2
//
// 	.trade, .order
// 		cursor: pointer
// 		display: flex
// 		justify-content: center
// 		align-items: center
// 		flex: 20
// 		background-color: #2196F3
//
// 		.link
// 			color: #FBC02D
// 			font-size: 2rem
//
// 	.trade:hover,
//   .order:hover
//     color: #E3F2FD !important


.actions-bg
  border-radius: 5px
  height: 48px
  left: 88.5%
  opacity: .8
  position: absolute
  top: 75%
  width: 86px
  z-index: 49

.actions
  border-radius: 5px
  left: 88.5%
  position: absolute
  top: 90.5%
  z-index: 50

  i
    color: $actions-color
    cursor: pointer
    font-size: 2rem
    padding: 8px

.user-added
  td
    background-color: #ffc0cb

.order-table
  font-size: .7rem
  width: 100%

  th
    background-color: $table-header-bg
    padding: 4px

  th,
  td
    color: #fff
    padding-right: 10px
    text-align: right

  td
    &:first-child
      color: #f00
      text-align: center

.openfin-logo
  left: 24px
  position: absolute
  top: 8px
  width: 85px

.copyright
  color: #ccc
  font-size: 11px
  padding: 20px 8px

  a
    color: #4c89bc
    text-decoration: none

    &:hover
      color: #fff
