.tile
  color: #ffffff
  .window-control
    width: 300px
    height: 300px
    background-color: rgba(19, 160, 154, 0)
    position: absolute
    top: 0px
    left: 0px
    display: block
    -webkit-app-region: drag
    .content
      pointer-events: none
    .pricing
      pointer-events: none

.eikon-tile-button
  position: absolute
  width: 20px
  height: 20px
  bottom: 10px
  left: 10px
  img
    width: 100%